h2 {
  color: #2d5986;
}

#IsabelIntro {
  font-family: 'Petit Formal Script';
  color: #0059b3;
  font-size: 50px;
  text-align: center;
}

/* .center_first_image {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} */

.center_images {
  /* text-align: center;
  display: inline-block; */
  margin-left: auto;
  margin-right: auto;
}

.caption {
  font-size: 12px
}

.no_space_for_caption {
  font-size: 1px
}

.boxed {
  border: 1px solid green ;
}

.imageContainer {
    /* overflow: hidden; */
    border: 2px #333 solid;
}

.zoom{
  zoom: 6
}

/* @keyframes kenburns {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
        opacity: 0;
    }
} */
